fastapi
uvicorn[standard]
pydantic
python-multipart
pdf2image
Pillow
opencv-python-headless
requests
pandas
rapidfuzz
paddleocr
scikit-image
layoutparser
langdetect
sentence-transformers
torch
transformers
scikit-learn
pytesseract
aiohttp
numpy

